* {
    box-sizing: content-box;
}

body {
    background-color: #121212;
}

.rounded-corners {
    border-radius: 15px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.navbar {
    justify-content: space-between;
}





